*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
.App{
  border: 1px solid #3d3d3d;
  margin: 50px 100px;
  padding: 25px 15px;

}

.to-do-container{
  display: flex;
  flex-direction: column;
}
.to-do-container ul li {
  width: 180px;
  overflow-wrap: break-word;
  list-style-type: "👉";
  cursor: pointer;
}

.done{
  text-decoration: line-through;
}
span{
  cursor: pointer;
}
.item{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}